.main_input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid lightgrey;
  padding: 10px;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  background: rgba(253, 255, 245);
  color: #213547;
  box-sizing: border-box;
  outline: none;
}

.main_input_error {
  background: rgba(219, 99, 99, 1);
}

.main_input_helper_text {
  color: #db6363;
}

.main_input::placeholder {
  color: #213547;
}
